.header{
    position: relative;
    overflow: hidden;
    background-color: rgb(34, 81, 109);
    height: 200px;
    width: 1350px;

}


.profilePicture{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    border-style: groove;
    border-color: white;
}