body {
    background:  
    linear-gradient(
      rgba(3, 4, 87, 0.45), 
      rgba(42, 121, 104, 0.911)
    );
    font-family: monospace;
}


.header{
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 99%;
    background:  
    linear-gradient(
      rgba(3, 4, 87, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url("assets/burningshipfractal.jpg");
    background-size: contain;
    border-color: white;
    border-style: solid;
    
}

a{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
    display: inline-block;
    color: white;
    text-decoration: none; 
}

.profilePicture{
    height: 150px;
    width: 150px;
    margin-left: 35px;
    margin-top: 25px;
    border-radius: 50%;
    border-style: groove;
    border-color: white;
}

.myName{
    font-size: 50px;
    color: rgb(10, 10, 10);
    width: 30%;
    margin-top: 10px;
    color:white;
    margin-left: 20px;
    z-index: 2;

}

.aboutMeTitle{
    margin-left: 20px;
    font-size: 30px;
    color: white;
    width: 150px;
}

.aboutMeContent{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.workTitle{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.TwitterLink{
    margin: 30px;
}

.emailLink{
    margin: 30px;
}

.GithubLink{
    margin: 30px;
}

.LinkedInLink{
    margin: 30px;
}

.footerTitle{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    font-family: monospace;
}

footer{
    margin-top: 100px;
}

.appTitle{
    color: white;
    font-size: 20px;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: stretch;
    flex-wrap: nowrap;
}

.moovieImg{
    height: 100%;
    width: 100%;
}

.work2Container{
    margin: 20px;
}

.work3Container{
    margin: 20px;
}

.weatherDashImg{
    height: 90%;
    width: 90%;
}

.workSchedulerImg{
    height: 90%;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .row {
      flex-wrap: wrap;
    }
  }


